:root{
  height: 100%; width: 100%
}

body{
  background-color: rgba(0, 0, 0, .97);
  color: rgba(200, 200, 200, 0.9);
}

.App {
  display: flex;
  align-items: flex-start;
}
.headline {
  margin: 90px;
  text-align: center;
}
.navBar {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}
.frontPageLink {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.9);
}
.frontPageLink:hover {
  animation: frontPageLink 5s linear infinite
}
@keyframes frontPageLink {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
    color: rgba(0, 0, 255, 0.7)
  }
  to {
      transform: rotate3d(5, 5, 5, 360deg);
      color: rgba(181, 0, 0, 0.7)
  }
}
.newPost {
  display: flex;
  margin-left: 20px;
  width: 100px;
  text-decoration: none;
  color: rgba(200, 200, 200, 0.9)
}
.newPost:hover {
  animation: newPost 40s linear infinite;
  
}
@keyframes newPost {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(40px, 40px);
    font-size: 80px;
    /* color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%) */
  }
}
.post {
  height: 70px; width: 70vw;
  display: flex; padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgba(25, 35, 160, 0.7);
}
.form {
  height: 50vh; width: 30vw;
  background-color: rgba(200, 200, 200, 0.9);
  padding: 20px; color: black;
  display: flex; flex-direction: column;
}
#content {
  height: 100%;
  /* wow this thing SUCKS */
}
.blogLink {
  text-decoration: none;
  color:rgba(200, 200, 200, 0.9);
  transition-duration: 400ms;
}
.blogLink:hover {
  color:rgba(80, 80, 255, 0.7)
}
.title {
  font-size: 50px;
  margin: 60px;
}
.author {
  font-size: 40px;
  margin-top: -20px;
  margin-bottom: 40px;
}
.content {
  text-align: start;
  font-size: 25px;
  margin-left: -50px;
  width: 70vw;
}
.form1 {
  height: 50vh; width: 30vw;
  margin-top: 30vh; margin-left: -30vw; 
  background-color: rgba(200, 200, 200, 0.9);
  padding: 20px; color: black;
  display: flex; flex-direction: column;
}
.button {
  padding: 10px; margin: 10px; font-size: 20px;
  background-color:rgba(0, 0, 0, .6);
  color: rgba(200, 200, 200, 0.9);
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 10px;
  transition-duration: 400ms;
}
.button:hover {
  background-color: rgba(50, 50, 50, 0.5);
}